{{- define "main" -}}
{{ $params := partial "functions/params" . }}
{{ $rtl := eq .Site.Language.LanguageDirection "rtl" }}

{{ $coverPos := $params.coverPos | default $params.coverpos | default "center" }}

<style>
.album {
    padding: 0px 20px 20px 20px;
}
.album-cover {
    position: relative;
    margin-bottom: 10px;
}
.album-cover-image {
  object-fit: cover; /* Do not scale the image */
  object-position: center {{ $coverPos }}; /* Center the image within the element */
  height: 40vh;
  width: 100%;
}

.album-cover-title {
	background: linear-gradient(to top,rgba(0,0,0,.5) 0,rgba(0,0,0,0) 100%);
    width:100%;
	position: absolute;
	bottom: 0;
    left: 0;
    color: white;
    font-family: Raleway,Helvetica,Arial,sans-serif;
    font-size: 10vmin;
    font-weight: 200;
    font-style: normal;
}
.album-cover-title:dir(rtl) {
    padding: 0 24px 0 100px;
    text-align: right;
}
.album-cover-title:dir(ltr) {
    padding: 0 100px 0 24px;
    text-align: left;
}

.cover-buttons-container {
    display:flex;
    gap:20px;
    position: absolute;
    bottom:10px;
}
.cover-buttons-container:dir(rtl) {
    left: 20px;
}
.cover-buttons-container:dir(ltr) {
    right: 20px;
}

.cover-button {
    background-color: rgba(255,255,255,.15);
    text-shadow: 2px 2px #a0a0a0;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: white;
    font-size: 1.6em;
    padding: 0px 12px;
    border-radius: 7px;
}

.cover-buttons-container .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
    position: absolute;
    right: 0;
    bottom: 3em;
}
.cover-button-slideshow:hover .tooltiptext {
    visibility: visible;
}
.cover-button-share:hover .tooltiptext {
    visibility: visible;
}


</style>

{{ if and $params.gallery $params.cover }}
    {{ $coverImagePath := path.Join $params.gallery $params.cover }}
    {{ $coverImage := resources.Get $coverImagePath}}
    {{ $galleryId := (printf "gallery-%v-%v" .Page.File.UniqueID (delimit (shuffle (seq 1 9)) "")) }}

    {{ $context := merge $params (dict
        "currentPage" .
        "galleryId" $galleryId
    )}}

    <div class="album">
        <div class="album-cover">
            {{ if $coverImage }}
                <img class="album-cover-image" src="{{ partial "functions/url_encode" $coverImage.RelPermalink }}"  />
            {{- end -}}
            <div class="album-cover-title">{{$params.title}}</div>
            <div class="cover-buttons-container">
                <div class="cover-button-share">
                    <button class="cover-button"><i class="fa-solid fa-share-nodes"></i></button>
                    <span class="tooltiptext">Share Page</span>
                </div>
                <div class="cover-button-slideshow">
                    <button class="cover-button" onclick="startSlideshow()"><i class="fa-solid fa-play"></i></button>
                    <span class="tooltiptext">Start Slideshow</span>
                </div>
            </div>
            {{ partial "share_bar" ".cover-button-share"}}
        </div>
        {{ partial "gallery.html" $context }}
    </div>
    <script>
        function startSlideshow() {
            fancybox = Fancybox.fromOpener('[data-fancybox="{{$galleryId}}"]');
            fancybox.plugins.Toolbar.Slideshow.toggle();
        }
    </script>

{{- end -}}


{{ partial "page_footer" . }}
{{- end -}}