{{ $context := dict
    "currentPage" .
    "gallery" (.Get "gallery")
    "files" (.Get "files")
    "sort" (.Get "sort")
    "rowHeight" (.Get "rowHeight")
    "margins" (.Get "margins")
    "imageResizeOptions" (.Get "imageResizeOptions")
    "loadJQuery" (.Get "loadJQuery")
    "showExif" (.Get "showExif")
    "captions" (.Get "captions")
    "justifiedGalleryParameters" (.Get "justifiedGalleryParameters")
    "previewType" (.Get "previewType")
    "embedPreview" (.Get "embedPreview")
    "thumbnailHoverEffect" (.Get "thumbnailHoverEffect")
    "lastRowJustification" (.Get "lastRowJustification")
    "galleryId" (printf "gallery-%v-%v" .Page.File.UniqueID (delimit (shuffle (seq 1 9)) ""))
}}

{{ partial "gallery.html" $context }}
